/* Updated class names for the form */
.center-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .skill-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-skill-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .input-field {
    width: 100%;
  }
  
  /* Updated class names for StudentSkillDevelopment component */
  .homedetailsofstudent {
    text-align: center;
    padding: 20px;
  }
  
  .all-skilldevelopmentsofstudents {
    margin: auto;
    max-width: 800px;
  }
  
  .search-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar1 inputs {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .filter-container1 {
    position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin: 150px;
  margin-top: 16.5%;
  }
  
  .filter-button1 {
    padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  }
  
  .filter-button1.selecteds {
    background-color: #45a049;
  }
  
  
 /* List of skill developments */
.skilldevelopment-cardsofstudents {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between cards as needed */
  }
  
  .skilldevelopment-cardofstudents {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Add link styling to the "GO TO COURSE" button */
  .skilldevelopment-cardofstudents a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #2980b9; /* Change the color as needed */
    padding: 10px;
    border-radius: 4px;
    text-align: center;
  }

  /* Add styling for "GO TO COURSE" button inside the card */
  .skilldevelopment-cardofstudents button {
    margin-top: 10px;
    cursor: pointer;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #238dce; /* Change the color as needed */
  }
  
  .skilldevelopment-cardofstudents button:hover {
    background-color: #3498db; /* Change the color as needed */
  }
  
  /* Highlighted title */
  .skilldevelopment-cardofstudents h3 {
    color: #e21212; /* Change the color as needed */
  }
  
  /* Padding between paragraphs */
  .skilldevelopment-cardofstudents p {
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  
  /* Highlighted strong texts */
  .skilldevelopment-cardofstudents strong {
    color: #000000; /* Change the color as needed */
  }
  