* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e8edf2;
  margin: 0; /* Clear default margin */
  padding: 0; /* Clear default padding */
}

.contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid black;
  max-width: 450px;
}

/* Rest of your CSS remains unchanged */


.heading {
  padding: 20px;
  color: #0000f9;
  font-size: 24px; /* Updated font size */
  font-weight: 600; /* Updated font weight */
  text-align: center;
}

.form-field {
  width: 100%;
  margin: 15px 0;

  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  transition: color 0.3s ease; /* Updated transition */
}



.form-label:hover {
  color: #090909;
}

.input {
  border: none;
  outline: none;
  border-radius: 0px;
  width: 100%;
  border: 1px solid #1c1c1e;
  padding: 8px; /* Updated padding */
  font-size: 16px; /* Updated font size */
  transition: border-color 0.3s ease;
}


input:focus {
  border-color: #4a4a4a;
}

input[type="text"] {
  width: 30vh; /* Adjusted width to create side-by-side placeholders */
}

input[type="password"] {
  width: 30vh; /* Adjusted width to create side-by-side placeholders */
} 

.click-button {
  background-color: rgb(112, 120, 154);
  border: 0.2rem solid black;
  outline: none;
  border-radius: 5px;
  font-size: 10px;
  padding: 12px 20px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 35%;
  
}

.click-button:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
